/* =========================
RESET
========================= */

*,
*::before,
*::after{
margin:0;
padding:0;
box-sizing:border-box;
}

/* =========================
BODY
========================= */

body{
  width:100%;
backface-visibility:hidden;
scroll-behavior:smooth;
overflow-x:hidden;
overflow-y:auto;
  isolation:isolate;
scroll-behavior: smooth;
-webkit-font-smoothing: antialiased;
font-family:'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
background:#f8f9fa;
position:relative;
}

/* LEFT EDGE */

body::before{

content:"";
display:none;
position:fixed;

top:50%;
left:-250px;

transform:translateY(-50%);

width:500px;
height:400px;

background:radial-gradient(
circle at left,
rgba(255,120,0,0.6),
transparent 70%
);

filter:blur(80px);

z-index:1;

pointer-events:none;

}

/* RIGHT EDGE */

body::after{

content:"";

position:fixed;

top:50%;
right:-250px;

transform:translateY(-50%);

width:500px;
height:400px;

background:radial-gradient(
circle at right,
rgba(31,143,95,0.6),
transparent 70%
);

filter:blur(80px);

z-index:0;

pointer-events:none;

}

/* 🔥 GLOBAL TAP + SELECT FIX */
*{
-webkit-tap-highlight-color: transparent; /* remove tap flash */
}

/* 🔥 BODY CONTROL */
body{
user-select:none; /* disable copy */
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;

-webkit-touch-callout:none; /* disable long press menu */

-webkit-font-smoothing: antialiased;
touch-action: manipulation;
}

/* 🔥 LINKS SAFE COLOR */
a{
color:inherit;
text-decoration:none;
}

a:focus,
a:active,
a:visited{
color:inherit !important;
outline:none;
}

/* =========================
NAVBAR MAIN
========================= */

.inv-navbar{
position:sticky;
top:0;
width:100%;
z-index:10000;
backdrop-filter:blur(12px);

background:linear-gradient(
90deg,
#0e7c49,
#18B56A,
#37e08e
);
}

/* =========================
DEFAULT HIDE
========================= */

.mobile-menu{
display:none;
}

/* =========================
CONTAINER
========================= */

.nav-container{
max-width:100%;
margin:0;
  height:70px;
padding:0 20px;
display:flex;
align-items:center;
justify-content:space-between;
}

/* =========================
LOGO (FIXED)
========================= */

.nav-logo{
display:flex;

align-items:center;

height:100%; /* 🔥 full container height */
}

.nav-logo img{
height:70%; /* 🔥 auto top-bottom spacing */

width:auto;

object-fit:contain;
}

.nav-logo a{
display:flex;
align-items:center;
height:100%;
}


/* =========================
MENU CENTER
========================= */

.nav-menu{
flex:1;
display:flex;
justify-content:center;
}

.nav-menu ul{
display:flex;
gap:35px;
list-style:none;
align-items:center;
}
.nav-menu ul li a:hover{

  color:#ffffff!important;

}
.nav-menu ul li a{
text-decoration:none;
color:#fff!important;
font-size:16px;
font-weight:600;
padding:10px 0;
position:relative;
}

/* underline */

.nav-menu ul li a::after{
content:"";
position:absolute;
left:0;
bottom:-1px;
width:0;
height:1px;
background:#fff;
transition:0.3s;
}

.nav-menu ul li a:hover::after{
width:100%;
  color:#fff;
}

/* active */

.nav-menu ul li a.active{
color:#fff;
}

.nav-menu ul li a.active::after{
width:100%;
  color:#fff;
}

/* =========================
RIGHT SIDE
========================= */

.nav-icons{
display:flex;
align-items:center;
gap:18px;
}

/* social */

.social-icons{
display:flex;
align-items:center;
gap:15px;
}

.social-icons a{
color:#fff;
text-decoration:none;
font-size:20px;
display:flex;
align-items:center;
justify-content:center;
transition:0.3s;
}

.social-icons a:hover{
color:#ffe082;
transform:scale(1.15);
}

/* =========================
HAMBURGER
========================= */

.nav-toggle{
display:none;
flex-direction:column;
gap:5px;
cursor:pointer;
}

.nav-toggle span{
width:26px;
height:2px;
background:#fff;
transition:0.3s;
}

/* =========================
MOBILE (768)
========================= */

@media(max-width:768px){

.inv-navbar{
position:fixed;
top:0;
left:0;
width:100%;
}

/* hide desktop */

.nav-menu,
.social-icons{
display:none;
}

.nav-toggle{
display:flex;
}

/* =========================
CURTAIN MENU
========================= */

.mobile-menu{
display:flex;
position:fixed;
top:70px;
left:0;
width:100%;
height:auto;

background:linear-gradient(
180deg,
#fff
);

flex-direction:column;
justify-content:space-between;

opacity:0;
visibility:hidden;
transition:0.3s ease;
z-index:9999;
}

.mobile-menu.active{
opacity:1;
visibility:visible;
}
/* 🔥 AFTER GLOW */
.mobile-menu-box::after{
content:"";
position:absolute;
inset:0;
pointer-events:none;

background:

/* TOP RIGHT → GREEN */
radial-gradient(circle at right top,
rgba(24,181,106,0.45),
transparent 60%),

/* BOTTOM LEFT → ORANGE */
radial-gradient(circle at left bottom,
rgba(255,140,0,0.35),
transparent 60%);

filter:blur(35px);
z-index:0;
}

/* content upar rahe */
.mobile-menu-box > *{
position:relative;
z-index:1;
  }
/* =========================
MENU LIST
========================= */

.mobile-menu-box{
padding:30px 20px;
overflow-y:auto;
}

.mobile-nav-list{
list-style:none;
display:flex;
flex-direction:column;
}

.mobile-nav-list li{
border-bottom:1px solid rgba(255,255,255,0.15);
}

.mobile-nav-list li a{
display:block;
color:#000;
font-size:15px;
font-weight:700;
padding:14px 0;
text-decoration:none;
}
/* 🔥 HOVER EFFECT */
.mobile-nav-list li a:hover{
  color:#1F8F5F;
  transform:translateX(6px); /* slight move */
  }
  
/* =========================
SOCIAL BOTTOM
========================= */

.mobile-social{
display:flex;
justify-content:center;
gap:25px;
padding:20px 0 30px;
}

.mobile-social a{
color:#000;
font-size:20px;
transition:0.3s;
}

.mobile-social a:hover{
color:#1F8F5F;
transform:scale(1.2);
}

/* =========================
CLOSE BUTTON
========================= */

.mobile-close{
position:absolute;
top:15px;
right:20px;
font-size:26px;
color:#fff;
cursor:pointer;
}

}



.panel1{

background:#f8f9fa;
  height:100%;
padding:80px 25px;
position:relative;
z-index:0;
overflow:hidden;

}


/* TOP GLOW */

.panel1::before{

content:"";

position:absolute;

top:-200px;

left:50%;

transform:translateX(-50%);

width:1200px;
height:320px;

background:radial-gradient(
circle,
rgba(31,143,95,.7),
transparent 70%
);

filter:blur(60px);

z-index:0;

pointer-events:none;
}


/* BOTTOM GLOW */

.panel1::after{

content:"";

position:absolute;
display:none;
bottom:-200px;

left:50%;

transform:translateX(-50%);

width:900px;
height:350px;

background:radial-gradient(
circle,
rgba(0,200,255,.35),
transparent 70%
);

filter:blur(70px);

}


/* WRAPPER */

.about-wrapper{

max-width:900px;

margin:auto;

position:relative;

z-index:2;

}


/* TITLE */

.brand-title{

font-size: clamp(19px,4vw,38px);

font-weight:700;

color:#1F8F5F;

margin-bottom:10px;

text-align:center;

}


/* SUB TITLE */

.brand-sub{

font-size: clamp(15px, 2.5vw, 22px);

color:#666;
text-align:center;
margin-bottom:40px;

}


/* BLOCK */

.about-block{
  text-align:center;
margin-bottom:35px;

}


/* HEADINGS */

.about-block h3{

font-size: clamp(14px, 1.9vw, 19px);
flex-direction:column;
margin-bottom:12px;

color:#111;
text-align:center;
display:flex;
align-items:center;
gap:10px;

}


/* TEXT */

.about-block p{

font-size: clamp(13px, 1.8vw, 18px);

line-height:1.7;

color:#444;

margin-bottom:10px;

}


/* LIST */

ul{

display:flex;
flex-direction:column;
align-items:flex-start; /* 🔥 LEFT align */
margin:0 auto;
width:fit-content; /* 🔥 center block */

}

li{
display:flex;
align-items:center;
gap:10px;
text-align:left;

}
li i{
font-size:16px;
color:#1F8F5F;
display:inline-flex;
align-items:center;
}

/* CONTACT */

.contact-section{
margin-top:50px;

}


/* BUTTON */

.contact-btn{

display:block;

width:fit-content;

margin:25px auto 0 auto;

padding:14px 36px;

background:#1F8F5F;

color:#fff;

border-radius:40px;

text-decoration:none;

font-weight:600;

transition:.35s;

box-shadow:0 10px 30px rgba(31,143,95,.4);
  }

.contact-btn:hover{

transform:translateY(-4px);

background:#26b373;

box-shadow:0 20px 40px rgba(31,143,95,.6);

}


/* MOBILE */

@media(max-width:768px){

.panel1{

padding:60px 20px;

}

}
/* BANNER */

.co-banner{

width:100%;
height:520px;
background:fff;
position:relative;
z-index:1;
overflow:hidden;

font-family:'Poppins',sans-serif;

}


/* SLIDER */

.co-slider{

width:100%;
height:100%;

position:relative;

}


/* SLIDE */

.co-slide{

position:absolute;

width:100%;
height:100%;

opacity:0;

transition:opacity .8s ease;

display:flex;
align-items:center;

}

.co-slide.active{

opacity:1;
z-index:2;

}


/* BACKGROUND IMAGE */

.co-bg{

position:absolute;

width:100%;
height:100%;

object-fit:cover;

filter:brightness(.6);

z-index:0;

}


/* LIGHT FLASH EFFECT */

.co-slide::before{

content:"";

position:absolute;

top:0;
left:0;

width:45%;
height:100%;

background:linear-gradient(
120deg,
rgba(255,255,255,0.45) 0%,
rgba(255,255,255,0.25) 25%,
rgba(255,255,255,0.08) 55%,
transparent 80%
);

filter:blur(25px);

z-index:1;

pointer-events:none;

}


/* CONTENT */

.co-content{

position:relative;

z-index:3;

width:45%;

padding-left:8%;

color:#fff;

}


/* TITLE */

.co-content h1{

font-size:clamp(40px,4vw,64px);

margin-bottom:10px;

font-weight:700;

color:#fff;

}


/* SUBTITLE */

.co-content h2{

font-size:clamp(22px,2vw,30px);

margin-bottom:15px;

font-weight:500;

}


/* TEXT */

.co-content p{

font-size:clamp(16px,1.2vw,18px);

line-height:1.7;

max-width:520px;

}


/* DRINK IMAGE */

.co-drink{

position:absolute;

right:10%;

bottom:0;

height:440px;

z-index:3;

filter:drop-shadow(0 40px 40px rgba(0,0,0,.5));

}


/* DOTS */

.co-dots{

position:absolute;

bottom:15px;

left:50%;

transform:translateX(-50%);

display:flex;

gap:10px;

z-index:5;

}


.dot{

width:12px;
height:12px;

border-radius:50%;

background:#bbb;

cursor:pointer;

transition:.3s;

}


.dot.active{

background:#1F8F5F;

transform:scale(1.2);

}


/* MOBILE */

@media (max-width:768px){

.co-banner{

height:620px;
width:100%;
padding:0;
  overflow: hidden;


  }
.co-slide{

flex-direction:column;

justify-content:center;

text-align:center;

}

.co-content{

width:100%;

padding:20px 10px;

}

.co-content h1{

font-size:clamp(15px,2.5vw,22px);

line-height:1.2;

}

.co-content h2{

font-size:clamp(14px,1.9vw,19px);

}

.co-content p{

font-size:clamp(13px,1.8vw,18px);

line-height:1.6;

max-width:100%;

}

.co-drink{

position:relative;

right:auto;

bottom:auto;

margin-top:20px;

height:240px;

transform:none;

}

.co-dots{

bottom:35px;

}

}


/* =========================
FOOTER (BACKGROUND LAYER)
========================= */

.footer-premium{

position:relative;
font-family:'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
bottom:0;
background:#f8f9fa!important;
left:0;

width:100%;
min-height:600px;
height:auto;
padding:40px 40px 40px;
  /* top padding reduce */

color:#222;

overflow:hidden;

z-index:1;

text-align:center;

}

/* glow */

.footer-premium::after{

content:"";

position:absolute;

bottom:-200px;

left:50%;

transform:translateX(-50%);

width:1200px;

height:500px;

background:radial-gradient(
ellipse at center,
rgba(31,143,95,0.45) 0%,
rgba(31,143,95,0.25) 35%,
rgba(31,143,95,0.10) 55%,
transparent 75%
);

filter:blur(80px);

pointer-events:none;

}

/* =========================
CONTAINER
========================= */

.footer-container{

width:100%;
max-width:1200px;

margin:0 auto;

position:relative;

padding:0 20px;

box-sizing:border-box;

z-index:2;



}
.footer-box{

width:100%;

padding:0 18px;

text-align:center;

display:flex;

flex-direction:column;

align-items:center;

justify-content:flex-start;

}
/* =========================
BRAND
========================= */

.footer-brand{

max-width:750px;
width:100%;
margin:auto;
text-align:center;

padding-bottom:auto;

font-family:'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;


}

.footer-brand h2{

font-size:clamp(15px,2.5vw,22px);

margin-bottom:10px;

color:#1f8f5f;

}

.footer-tagline{

font-size:13px;
overflow: hidden;
  white-space:normal;
margin-bottom:12px;

color:#555;

}

.footer-message{

font-size:13px;

line-height:1.6;

color:#666;

}

/* =========================
GRID
========================= */

.footer-grid{

display:grid;
margin:0 auto;
grid-template-columns:repeat(3,1fr);

gap:60px;
margin-top:60px;

text-align:left;

}

.footer-box h4{

font-size:15px;

margin-bottom:15px;

color:#1f8f5f;

}

.footer-box p{

margin-bottom:8px;
font-size:13px;
color:#666;

}

/* =========================
SOCIAL
========================= */

.footer-social{

display:flex;

align-items:center;

gap:10px;

margin-bottom:12px;

color:#666;

text-decoration:none;

font-size:15px;

transition:.3s;

}

.footer-social i{

font-size:18px;

color:#1f8f5f;

}

.footer-social:hover{

color:#1f8f5f;

transform:translateX(6px);

}

/* =========================
BOTTOM
========================= */

.footer-bottom{

margin-top:20px;

display:flex;

justify-content:center;

gap:20px;

font-size:13px;

color:#888;

flex-wrap:wrap;

}

/* =========================
MOBILE FIX (768px)
========================= */

@media (max-width:768px){

.footer-premium{
overflow-x: hidden;
height:100%;
  min-height:100vh;
overflow-y: hidden;     /* allow scroll */
-webkit-overflow-scrolling:touch;
  padding:40px 0 20px;   /* top right-left bottom */

}
  
.footer-premium::after{

bottom:-250px;  /* glow niche */
width:900px;     /* mobile spread */
height:180px;

filter:blur(70px);

  }
.page-content{
  overflow-y:hidden;
  }
.footer-grid{

grid-template-columns:1fr;

gap:30px;

text-align:center;

}

.footer-bottom{

flex-direction:column;

gap:10px;

text-align:center;

}

.footer-social{

justify-content:center;
  }
  .footer-brand{

padding:0 20px;
    padding-bottom:auto;
  }
  .footer-brand h2{
font-size:15px!important;
}

.footer-tagline{
font-size:13px;
}

.footer-message{
font-size:13px;
line-height:1.6;
}

.footer-box h4{
font-size:14px;
}

.footer-box p{
font-size:13px;
}

.footer-social span{
font-size:13px;
}

.footer-bottom{
font-size:13px;
}

.footer-bottom p{
font-size:13px;
  

  }
}
/* TOP OCEAN LIGHT */

.footer-premium::before{

content:"";
display:none;
position:absolute;

top:-220px;
left:50%;

transform:translateX(-50%);

width:1000px;
height:400px;

background:radial-gradient(
circle,
rgba(0,200,255,0.35),
transparent 70%
);

filter:blur(70px);

pointer-events:none;

}